<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="DESKTOP-GS3P3K0\SQLEXPRESS;Database=DpLakshya;Integrated Security= True"
			 providerName="System.data.SqlClient" name="dbConnect"/>
	</connectionStrings>
	<connectionStrings>
		<add connectionString="DESKTOP-GS3P3K0\SQLEXPRESS;Database=DpLakshya;Integrated Security= True"
			 providerName="System.data.SqlClient" name="dbConnect2"/>
	</connectionStrings>


	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>